{% extends "base.html" %}
{% load static %}

{% block content %}
<div class=" py-[80px]">
    <h1 class="text-black text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-center">Clothing & Fashion</h1>
    <div class="min-h-screen md:px-[60px]  gap-[40px] py-[40px] justify-center max-sm:flex-col flex">
        <div class="relative group h-[500px] hover:scale-105 transition-all duration-200 ">
            <img src='{% static "images/women.jpg" %}' alt="image" class="shadow-xl w-full h-full object-cover object-center">
            <div class=" flex justify-center absolute bottom-0 left-0 right-0  overflow-hidden h-0 group-hover:h-full transition-all duration-1000 bg-gradient-to-b from-[rgba(90,89,72,0)]  to-[rgba(90,89,72,0.6)]">
                <a href="{% url 'clothingdetail' 2 %}" class="bg-[#fbab2b] text-center z-10 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-[40px]  absolute text-base font-medium leading-none  p-3 w-46 ">Women's Clothing</a>
                <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-[36px] py-6 z-0 px-20 w-44 bg-white bg-opacity-50"></div>

            </div>
        </div>
        <div class="relative group h-[500px] hover:scale-105 transition-all duration-200 ">
            <img src='{% static "images/men.jpg" %}' alt="image" class="shadow-xl w-full h-full object-cover object-center">
            <div class=" flex justify-center absolute bottom-0 left-0 right-0  overflow-hidden h-0 group-hover:h-full transition-all duration-1000 bg-gradient-to-b from-[rgba(90,89,72,0)]  to-[rgba(90,89,72,0.6)]">
                <a href="{% url 'clothingdetail' 1 %}" class="bg-[#fbab2b] z-10 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-[40px]  absolute text-base font-medium leading-none text-center  py-3 w-36 ">Men's Clothing</a>
                <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-[36px] py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>

            </div>
        </div>
    </div>
    <div class="mt-16 px-4 sm:px-6 xl:px-20 2xl:px-0 max-sm:px-[40px] overflow-hidden">
        <h3 class="text-[#282220] text-2xl font-medium">All Clothing</h3>
        <div class="grid gap-6 min-h-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
            {% for product in products  %}
                <div class=" p-[20px] w-full sm:max-w-sm  rounded-md shadow-md overflow-hidden transform duration-300 hover:scale-105 hover:shadow-lg">
                    <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('{{product.imageURL}}')">
                        <button data-product="{{product.id}}" data-action="add" class="update-cart p-2 rounded-full  text-white mx-5 -mb-4 bg-[#fbab2b] hover:bg-[rgba(251,171,43,0.6)] focus:outline-none focus:bg:[rgba(251,171,43,0.6)]">
                            <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        </button>
                    </div>
                    <div class=" flex justify-between items-center pt-6">
                        <h3 class="text-gray-700 uppercase">{{product.name}}</h3>
                        <span class="text-gray-500 ">{{product.price}}</span>
                    </div>
                </div>
                
              
            {% endfor %}
           


        </div>
    </div>

</div>

  
{% endblock content %}
