{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <div>
        {% if products %}
            <div class="mt-16 px-4 sm:px-6 xl:px-20 2xl:px-0 overflow-hidden">
                <h3 class="text-[#282220] text-2xl font-medium">All Products</h3>
                <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                    {% for product in products  %}
                        <div class=" p-[20px] w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden transform duration-300 hover:scale-105 hover:shadow-lg">
                            <div class="flex items-end justify-end h-56 w-full bg-cover bg-center" style="background-image: url('{{product.imageURL}}')">
                                <button data-product="{{product.id}}" data-action="add" class="update-cart p-2 rounded-full  text-white mx-5 -mb-4 bg-[#fbab2b] hover:bg-[rgba(251,171,43,0.6)] focus:outline-none focus:bg:[rgba(251,171,43,0.6)]">
                                    <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                </button>
                            </div>
                            <div class=" flex justify-between items-center pt-6">
                                <h3 class="text-gray-700 uppercase">{{product.name}}</h3>
                                <span class="text-gray-500 mt-2">{{product.price}}</span>
                            </div>
                        </div>
                      
                    {% endfor %}



                </div>
                <nav aria-label="Page navigation" class="mt-[60px] text-center">
                    <ul class="inline-flex space-x-2">
                        {% if products.has_previous %}
                        <a href="?page={{ products.previous_page_number }}"><button class="flex items-center justify-center w-10 h-10 text-[#fbab2b] transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-[rgba(251,171,43,0.1)]">
                            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path></svg></button>
                        </a>
                        {% endif %}
                        <!-- Dynamic Page Numbers -->
                        {% for num in products.paginator.page_range %}
                            {% if num == products.number %}
                                <li>
                                    <button class="w-10 h-10 text-white transition-colors duration-150 bg-[#fbab2b] border border-r-0 border-[#fbab2b] rounded-full focus:shadow-outline">{{ num }}</button>
                                </li>
                            {% elif num > products.number|add:'-2' and num < products.number|add:'2' %}
                                <li>
                                    <a href="?page={{ num }}">
                                        <button class="w-10 h-10 text-[#fbab2b] transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-[rgba(251,171,43,0.1)]">{{ num }}</button>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <a href="?page={{ products.next_page_number }}"><button class="flex items-center justify-center w-10 h-10 text-[#fbab2b] transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-[rgba(251,171,43,0.1)]">
                                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path></svg></button>
                            </a>
                        {% endif %}
                      

                    </ul>
                </nav>
            </div>

        {% else %}
        <p>no produt to display</p>
        
        {% endif %}
    </div>
</div>
  
{% endblock content %}